.header {
    margin: unset;
    width: 100%;
    min-width: 50%;
    height: 77px;
    background-color: black; 
    display:flex;
    justify-content: space-around;
    align-items: center;     
}
.header span {
    color: #FFFF;
    font-size: 24px;
}
.header img {
    width: 179px;
    height: 61px;
}